<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./style/img/shovel.png" type="image/png" />
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="stylesheet" href="./style/loader.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/dca507abdf.js" crossorigin="anonymous"></script>
    <script src="./game.js" defer></script>
    <script src="./styler.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-194476836-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-194476836-1');
    </script>
</head>

<body class="overflow-hidden h-screen w-screen select-none">
    <main v-cloak id="gameArea" class="h-screen w-screen bg-slate-500  flex flex-row justify-between items-center">

        <!--TUTORIAL MODALS-->
        <!---WELCOME--->
        <section v-if="modals.welcome == false" id='welcomeTutorial' class="h-screen w-screen bg-slate-400 absolute z-50 bg-opacity-60 flex justify-center items-center">
            <div class="p-4 pt-0 w-1/2 h-2/3 bg-slate-100 rounded-xl border-t-2 border-4 border-b-8 border-slate-600 shadow-lg shadow-blue-200 flex flex-col justify-between items-center">
                <h1 class="m-auto my-4 font-semibold text-2xl font-['p2']">Welcome to Shovel!</h1>
                <section class=" h-full w-full rounded-xl border-2 shadow-lg shadow-gray-600 p-4 flex flex-col justify-center items-center break-words overflow-x-hidden overflow-y-auto bg-slate-50" style="contain:content;">

                    <p class="absolute h-full overflow-hidden text-9xl font-['p2'] text-gray-100 m-auto">SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>
                    </p>

                    <div class="h-full w-full m-4 overflow-y-auto z-20">
                        <div class="rounded-full h-24 w-24 shadow-md bg-white shadow-blue-400 flex justify-center z-20 items-center m-auto my-4">
                            <img src="./style/img/shovel.png" alt="Shovel logo" style="height: 70%;">
                        </div>
                        <p class="first-letter:decoration-cyan-600 z-20">
                            <i class="font-semibold underline text-cyan-600 decoration-cyan-600 decoration-2">Shovel</i> is an incremental idle game based on every Canadian's favorite past time; Shoveling massive amounts of <u class="text-slate-800 decoration-2 decoration-slate-500">snow</u>.
                            <br><br> You'll get to experience all the thrills shoveling brings like never before! Things like shoveling your neighbors out for a couple bucks, clearing whole city blocks so people can get to work on time, and of course
                            meeting and <u class="no-underline text-gray-600">owning</u> new people!
                    </div>
                    <button class="z-20 bg-blue-400 border-2 border-blue-500 px-8 font-['p2'] text-white p-4 rounded-lg shadow-blue-400 shadow-lg transform transition ease-in-out hover:scale-105 active:scale-95 active:bg-blue-500" onclick="$('#welcomeTutorial').fadeOut(600,function(){player.modals.welcome=true})">Get started!</button>
                </section>
            </div>
        </section>

        <!---SHOP--->
        <section v-if="modals.tutorial1 == true" id='welcomeTutorial' class="h-screen w-screen bg-slate-400 absolute z-50 bg-opacity-60 flex justify-center items-center">
            <div class="p-4 pt-0 w-1/2 h-2/3 bg-slate-100 rounded-xl border-t-2 border-4 border-b-8 border-slate-600 shadow-lg shadow-blue-200 flex flex-col justify-between items-center">
                <h1 class="m-auto my-4 font-semibold text-2xl font-['p2']">Open for business!</h1>
                <section class=" h-full w-full rounded-xl border-2 shadow-lg shadow-gray-600 p-4 flex flex-col justify-center items-center break-words overflow-x-hidden overflow-y-auto bg-slate-50" style="contain:content;">
                    <p class="absolute h-full overflow-hidden text-9xl font-['p2'] text-gray-100 m-auto">SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>SHOVELSHOVELSHOVELSHOVEL<br>
                    </p>

                    <div class="h-full w-full m-4 overflow-y-auto z-20">
                        <div class="flex justify-center items-center m-auto my-4">
                            <i class="fas fa-hand-holding-usd fa-6x"></i> </div>
                        <p class="first-letter:decoration-cyan-600 z-20">
                            The <i class="font-semibold underline text-green-600 decoration-gren-600 decoration-2">Store</i> has been unlocked! <u class="decoration-2 decoration-yellow-600 text-yellow-600 font-semibold">Congratulations!</u><br>
                            <br> There are all sorts of things available to help you on your journey of making those numbers go up, and most of them are hidden behind an arbitrary progress wall to keep you engaged! For now why don't you <u class="no-underline text-red-800">hire</u>                            a local kid to help out by doing some of the digging for you! I'm sure that as you dig and dig and dig <u class="no-underline text-gray-700">and dig</u> <u class="no-underline text-gray-500">and dig</u> more items will become
                            available to <s>play the game for you</s> help you progress!
                    </div>
                    <button class="z-20 bg-blue-400 border-2 border-blue-500 px-8 font-['p2'] text-white p-4 rounded-lg shadow-blue-400 shadow-lg transform transition ease-in-out hover:scale-105 active:scale-95 active:bg-blue-500" onclick="$('#welcomeTutorial').fadeOut(600,function(){player.modals.tutorial1=false})">Close</button>
                </section>
            </div>
        </section>


        <!--------END TUTORIAL MODALS-------->


        <!-------MAIN GAME AREA--------->

        <div id="clicker" style="height: 95%" class="w-full flex flex-col justify-around bg-slate-200 rounded-xl m-10 border-4 border-b-8 border-t-2 border-slate-400 shadow-lg shadow-slate-800">
            <section class="flex flex-row justify-evenly items-center" style="height: 40%; width: 100%;">


                <div style="height: 90%; width: 95%; contain: content;" class="m-auto bg-white rounded-xl shadow-lg flex flex-col items-center justify-start" id="clickerContainerOther">


                    <div class="h-10 w-full bg-slate-400 shadow-lg shadow-slate-600 flex flex-row justify-end items-center pr-4 font-mono mb-4">
                        <i class="fas fa-user-cog fa-2x cursor-pointer hover:scale-105 text-slate-600 w-8" id="settingsIcon"></i>
                    </div>


                    <i class="fas fa-snowflake fa-2x hover:scale-105 text-slate-600 flex flex-row items-center"><p class="ml-2 font-mono"> Total: {{ convertDug }}</p></i>
                    <i class="fas fa-stopwatch hover:scale-105 text-slate-600 flex flex-row items-center"><p class="ml-2 font-mono">Kg per second: {{kgps}}</p></i>

                </div>
            </section>
            <div id="clickerContainerManual" style="height: 50%; width: 95%; contain: content" class=" m-auto bg-white rounded-xl shadow-lg flex flex-col justify-evenly items-center">
                <i class="fas fa-wallet fa-2x hover:scale-105 text-slate-700 flex flex-row items-center" id="walletIcon"> <p class="ml-2 font-mono" id="walletUi"> {{wallet | toCurrency}}</p></i>
                <i class="fas fa-stopwatch hover:scale-105 text-slate-700 flex flex-row items-center" id="walletIcon"> <p class="ml-2 font-mono" id="walletUi"> Per second: {{moneyPerSecond | toCurrency}}</p></i>
                <div id="digButton" style="z-index: 9999; height: 16rem; width: 16rem; border-radius: 50%" class="bg-white rounded-full flex justify-center items-center select-none shadow-lg hover:shadow-lg active:shadow-md shadow-slate-500 active:shadow-slate-300 hover:shadow-slate-400 border-4 border-slate-400 cursor-pointer hover:scale-110 transform ease-in-out duration-100 active:border-slate-600 active:scale-100 active:bg-gray-50 active:duration-75">
                    <img src="./style/img/shovel.png" alt="Dig!" class="h-2/3 select-none absolute" draggable="false" />
                </div>
                <h1 v-if="modals.welcome2 == false" style="z-index: 99999;" class="absolute text-center bottom-3 font-['p2'] underline decoration-4 decoration-red-400 text-red-600"><i class="fas fa-4x fa-arrow-up animate-bounce"></i> <br> Click here to start digging!</h1>
            </div>
        </div>


        <div id="store" class="overflow-y-auto h-screen w-0 bg-gradient-to-tr from-white to-gray-300 shadow-lg rounded-l-2xl border-r-0 border-4 border-t-2 border-b-2 border-slate-600 flex flex-col">
            <section class="h-full w-full overflow-y-auto overflow-x-hidden bg-slate-300 flex flex-col">
                <div class="w-full h-8 bg-gray-400 shadow-md flex justify-center items-center text-center border-slate-400 border-b-slate-600 border-b-4 rounded-tl-xl mb-2">
                    <p class="font-['p2']">Shop</p>
                </div>
                <shopbutton v-for="item in shop" :img="item.img" v-if="item.shown == true" :title="item.title" v-bind:cost="item.cost" :kgps="item.kgps" :description="item.description" :hover="item.hover" :qty="item.qty" @mouseover.native="this.hover = true;" @mouseleave.native="hover = false; console.log(this.hover)"></shopbutton>
            </section>

            <section class="h-1/3 w-full bg-slate-300 flex flex-col justify-start items-center overflow-y-auto overflow-x-hidden">
                <div class="w-full h-8 bg-gray-400 shadow-md flex justify-center items-center text-center border-t-2 border-slate-400 border-b-slate-600 border-t-slate-500 border-b-4 mb-2">
                    <p class="font-['p2']">Upgrades</p>
                </div>
                <div class="flex flex-row flex-wrap overflow-y-auto overflow-x-hidden w-full h-full">

                    <shovelupgradebutton class="m-2" v-for="item in shovelUpgrades" v-if="item.used == false && item.unlocked == true" :title="item.title" :cost="item.cost" :bonus="item.bonus" :description="item.description" :img="item.img"></shovelupgradebutton>
                    <autoupgradebutton class="m-2" v-for="item in autoUpgrades" v-if="item.used == false && item.unlocked == true" :title="item.title" :cost="item.cost" :bonus="item.bonus" :description="item.description" :img="item.img"></autoupgradebutton>

                </div>

            </section>

            <section class="h-32 w-full bg-slate-600 flex justify-center items-center overflow-x-hidden border-slate-400 border-t-2 rounded-bl-xl">
                <div class="w-full">
                    <div style="height: 90%;" class="flex flex-row bg-slate-300 py-1 items-center rounded-lg justify-center">
                        <div class="flex flex-row justify-center items-center">
                            <p class="font-mono font-semibold text-slate-700 text-xl text-center w-1/2">Show your support!</p>
                            <i class="fas fa-3x text-slate-700 fa-arrow-right ml-2"></i>
                        </div>
                        <a href="#" class="rounded-full m-2 bg-slate-700 shadow-lg shadow-gray-600 flex justify-center items-center active:scale-95 active:shadow-md active:shadow-gray-600 hover:animate-pulse  hover:scale-105 hover:rounded-lg ease-in-out transition transform"
                            style="height: 3rem;width: 3rem;contain: content;">
                            <i class="fab fa-2x text-red-600 fa-patreon"></i>
                        </a>
                        <a target="_blank" href="https://www.paypal.com/donate/?business=LWP7XTLWMCG66&no_recurring=0&item_name=100%25+of+all+donations+gets+put+back+into+the+development+of+future+games.+Thank+you+for+making+the+dream+a+reality%21+&currency_code=CAD" class="m-2 rounded-full bg-slate-700 shadow-lg shadow-gray-600 flex justify-center items-center active:scale-95 active:shadow-md active:shadow-gray-600 hover:animate-pulse  hover:scale-105 hover:rounded-lg ease-in-out transition transform"
                            style="height: 3rem;width: 3rem;contain: content;">
                            <i class="fab fa-3x text-blue-600 fa-paypal"></i>
                        </a>
                    </div>
                </div>
            </section>

        </div>


    </main>

    <section id="toastArea" class="w-screen h-1/2 bottom-0 absolute flex flex-col items-center justify-end" style="pointer-events:none; contain: content; overflow: hidden"></section>
</body>

</html>



<script>
    //This will track the mouse position when clicking the dig button and spawn the icon where the mouse was.
    $(document).ready(function() {
        $("#digButton").on("click", function(e) {
            const x = e.pageX;
            const y = e.pageY;
            clickDig(x, y);
        });

        $("#settingsIcon").on("click", function(e) {
            const elem = document.getElementById("settingsIcon").getBoundingClientRect()
            $(`
                <div class="bg-slate-400 rounded-xl shadow-md shadow-slate-600 absolute flex flex-row p-2 border-slate-900 border-2" style="height:15rem; width:30rem; max-width:70vw; max-height:70vh;left:${elem.x}px; top:${elem.y}px; z-index:9999; pointer-events:all;">
                    <div class="absolute rounded-full bg-slate-600 h-16 w-16 -top-4 -left-4 flex justify-center items-center border-slate-400 border-8 hover:scale-110 shadow-md active:shadow-xl ease-in-out transition ring-2 ring-black">
                        <button class="font-['p2'] text-center flex justify-center items-center h-full w-full m-0 p-0 rounded-full" onclick="$(this).parent().parent().remove()">
                            <i class="fas fa-2x fa-times-circle text-slate-400"></i>
                        </button>
                        </div>
                    
                    </div>`).appendTo("main")
        })



    });

    // window.history.pushState("", "", "/");
</script>